<div class="grass">
    <div class="field">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="no-b no-r"></td>
                <td class="no-b no-l b-r"></td>
                <td class="no-b no-r b-l"></td>
                <td class="no-b no-l"></td>
            </tr>
            <tr>
                <td class="no-b no-t no-r"></td>
                <td class="no-b no-t no-l b-r"></td>
                <td class="no-b no-t no-r b-l"></td>
                <td class="no-b no-t no-l"></td>
            </tr>
            <tr>
                <td class="no-t no-r"></td>
                <td class="no-t no-l b-r"></td>
                <td class="no-t no-r b-l"></td>
                <td class="no-t no-l"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>