<div class="row">
    <div class="col-md-8">
        <span class="page-title">Список игроков</span>
    </div>
    <div class="col-md-2">
        <button type="button"
                class="form-control btn btn-success"
                data-placement="bottom"
                data-auto-close="1"
                data-template-url="/src/player/components/player-create-popover.html"
                bs-popover>Добавить игрока</button>
    </div>
    <div class="col-md-2">
        <input type="text"
               class="form-control"
               ng-model="search"
               placeholder="поиск">
    </div>
</div>
<hr>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Фамилия и имя</th>
        <th>Голы</th>
        <th style="width:10%">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="player in $ctrl.players | orderBy: 'lastName' | filter:search">
        <td>
            {{player.lastName}} {{player.firstName}}
        </td>
        <td>{{player.goal}}</td>
        <td>
            <button type="button"
                    class="btn btn-default btn-xs"
                    data-placement="left"
                    data-auto-close="1"
                    data-template-url="/src/player/components/player-edit-popover.html"
                    ng-click="$ctrl.activePlayer = player"
                    bs-popover>изменить</button>
        </td>
    </tr>
    </tbody>

</table>
